<!DOCTYPE html>
<html lang=""> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Terceros</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static "css/modal.css" %}">
    <link rel="website icon" type="icon" href="{% static 'images/Logo_Pacos.jpg' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <br><br><br><br>

    <form method="POST" action="{% url 'registro_terceros' %}">
        {% csrf_token %}
        <div class="container">
            <!-- Contenedor padre con diseño flex -->
            <div class="row">
                <!-- IDENTIFICACIÓN -->
                <div class="section-container">
                    <div class="section">
                        <h1>IDENTIFICACIÓN</h1><br>
                        <div class="form-group">
                            <div>
                                <label>Nombres:</label> 
                                {{ form.nomter }}
                            </div>
                            <div>
                                <label>Apellido 1/Empresa:</label>
                                {{ form.papter }}
                            </div>
                            <div>
                                <label>Apellido 2:</label>
                                {{ form.sapter }}
                            </div>
                            <div>
                                <label>Nombre Comercial:</label>
                                {{ form.nomcter }}
                            </div>
                            <div>
                                <label for="id_nitter">Documento/Nit:</label>
                                {{ form.nitter }}
                            </div>                            
                            <div>
                                <label>Tipo Persona:</label>
                                {{ form.tipper }}
                            </div>
                            <div>
                                <label>Tipo Documento:</label>
                                {{ form.tipnit }}
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- IDENTIFICACIÓN - 2 -->
                <div class="section-container">
                    <div class="section">
                        <h1>IDENTIFICACIÓN - 2</h1><br>
                        <div class="form-group">
                            <div>
                                <label>Tipo de Tercero:</label>
                                {{ form.tipter }}
                            </div>
                            <div>
                                <label>Régimen Simplificado:</label>
                                {{ form.regimen_sim }}
                            </div>
                            <div>
                                <label>Exento de IVA:</label>
                                {{ form.excen_iva }}
                            </div>
                            <div>
                                <label>Contacto:</label>
                                {{ form.contacto }}
                            </div>
                            <div>
                                <label>Cargo:</label>
                                {{ form.cgo_contac }}
                            </div>
                            <div>
                                <label>Barrio:</label>
                                {{ form.barrio }}
                            </div>
                            <div class="form-group">
                                <label>Lista Base:</label>
                                {{ form.lista_base }}
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- UBICACIÓN -->
                <div class="section-container">
                    <div class="section">
                        <h1>UBICACIÓN</h1><br>
                        <div class="form-group">
                            <div>
                                <label>País:</label>
                                {{ form.paister }}
                            </div>
                            <div>
                                <label>Ciudad:</label>
                                {{ form.ciuter }}
                            </div>
                            <div>
                                <label>Dirección:</label>
                                {{ form.dirter }}
                            </div>
                            <div>
                                <label>Teléfonos:</label>
                                {{ form.telter }}

                            </div>
                            <div>
                                <label>Móvil:</label>
                                {{ form.celter }}
                            </div>
                            <div>
                                <label>Email:</label>
                                {{ form.direle }}
                            </div>
                            <div>
                                <label>Localidad/Comuna:</label>
                                {{ form.localidad }}
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- OTROS -->
                <div class="section-container">
                    <div class="section">
                        <h1>OTROS</h1><br>
                        <div class="form-group">
                            <div>
                                <label>Plazo en Días:</label>
                                {{ form.plazofac }}
                            </div>
                            <div>
                                <label>Vendedor:</label>
                                {{ form.vendedor }}
                            </div>
                            <div>
                                <label>Cuenta de Banco:</label>
                                {{ form.cta_banco }}
                            </div>
                            <div>
                                <label>Código de Banco:</label>
                                {{ form.cod_banco }}
                            </div>
                            <div>
                                <label>Tipo de Cuenta:</label>
                                {{ form.tipo_cta }}
                            </div>
                            <div>
                                <label>Categoría:</label>
                                {{ form.categoria }}
                            </div>
                            <div>
                                <label>Remitido Por:</label>
                                {{ form.ter_origen }}
                            </div>
                            <div>
                                <label></label>
                                {{ form.des_origen }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container">
                <div class="section">
                    <h1>FINANCIEROS/FECHAS</h1><br>
                    <div class="form-group financieros">
                        <!-- Primera columna -->
                        <div class="column">
                            <div>
                                <label class="aprobado">Cupo Aprobado:</label>
                                {{ form.cuptot }}
                            </div>
                            <div>
                                <label class="disponible">Cupo Disponible:</label>
                                {{ form.saldocup }}
                            </div>
                            <div class="descuento">
                                <label>Descuento:</label>
                                {{ form.descuento }}
                            </div>
                            <div class="zona">
                                <label>Zona:</label>
                                {{ form.zonater }}
                            </div>
                            <div class="fecha2">
                                <label>Fecha Creación:</label>
                                {{ form.fecha_ini }}
                            </div>

                        </div>
            
                        <!-- Segunda columna: Retenciones -->
                        <div class="column retenciones-container">
                            <div class="retencion-row">
                                <label>Retención Fuente:</label>
                                {{ form.base_ret_fte }}
                                {{ form.retfuente }}
                            </div>
                            <div class="retencion-row">
                                <label>Retención I.C.A:</label>
                                {{ form.base_ret_ica }}
                                {{ form.retica }}
                            </div>
                            <div class="retencion-row">
                                <label>Retención I.V.A:</label>
                                {{ form.base_ret_iva }}
                                {{ form.retiva }}
                            </div>
                            <div class="fecha">
                                <label>Fecha Última Venta:</label>
                                {{ form.fecha_fin }}
                            </div>
                        </div>
                        <div>
                            <label>Observaciones:</label>
                            {{ form.observa }}
                        </div>
                    </div>
                </div>
            </div>            
        </div><br><br>
        <div class="align-center">
            <img id="abrirModal" class="btn-busqueda" src="{% static 'images/busqueda.png' %}">
            <button type="submit">Guardar</button>
            <button type="reset" onclick="location.reload();">Limpiar</button>
            <button type="button" id="loadLast">Cargar Último Registro</button>
            <a href="{% url 'menu_rutinas' %}"><img class="btn-inicio" src="{% static 'images/btn-inicio.png' %}"></a>
        </div>
        </div>

        <!-- Modal de alerta -->
        <div id="alertModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h4>Se encontraron los siguientes errores:</h4>
                <ul id="errorList">
                    
                    {% if errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                <li>
                                    <strong>{{ field.label }}:</strong> 
                                    <div style="margin-top: 5px; margin-bottom: 10px;">
                                        {% for error in field.errors %}
                                            <span style="color: red;">{{ error }}</span><br>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </form>
        

    <!-- Modal de Búsqueda -->
    <div id="miModal" class="modal">
        <div class="modal-contenido">
            <span id="cerrarModal" class="cerrar">&times;</span>
            <h2>Buscar Terceros</h2>
            
            <input type="text" id="barraBusqueda" class="barra-busqueda" placeholder="Buscar por nombre, código, etc." autocomplete="off" onfocus="selectText(this)">
            <button id="btnBuscar" class="btn-buscar">Buscar</button>
    
            <table id="resultadoBusqueda" class="tabla-resultados">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nit/Cédula...</th>
                        <th>Nombre</th>
                        <th>Apellido/Empresa</th>
                        <th>Nombre Comercial</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
            
                </tbody>
            </table>
        </div>
    </div>
      

                    <!-- FUNCIONES JAVASCRIPT -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const tipperField = document.getElementById("id_tipper");
                const tipnitField = document.getElementById("id_tipnit");
                const regimenField = document.getElementById("id_regimen_sim");
        
                // Función para establecer "Seleccionar" en todos los campos de selección al cargar
                function establecerSeleccionarPorDefecto() {
                    const selects = document.querySelectorAll("select");
                    selects.forEach(select => {
                        if (!select.querySelector('option[value=""]')) {
                            const defaultOption = document.createElement("option");
                            defaultOption.value = "";
                            defaultOption.textContent = "-------";
                            defaultOption.selected = true;
                            select.insertBefore(defaultOption, select.firstChild);
                        } else {
                            select.querySelector('option[value=""]').selected = true;
                        }
                    });
                }
        
                // Función para actualizar las opciones de Tipo de Documento
                function actualizarOpciones() {
                    const tipoPersona = tipperField.value;
        
                    // Limpia las opciones existentes
                    while (tipnitField.firstChild) {
                        tipnitField.removeChild(tipnitField.firstChild);
                    }
        
                    // Opción predeterminada para Tipo de Documento
                    const defaultOption = document.createElement("option");
                    defaultOption.textContent = tipoPersona === "" ? "Seleccione tipo de persona" : "Seleccionar...";
                    defaultOption.value = "";
                    tipnitField.appendChild(defaultOption);
        
                    // Opciones para Persona Natural o Jurídica
                    if (tipoPersona === "0") {
                        const opcionesNatural = [
                            { value: "0", text: "Cédula de Ciudadanía" },
                            { value: "3", text: "Tarjeta de Identidad" },
                            { value: "4", text: "Registro Civil" },
                            { value: "2", text: "Pasaporte" },
                        ];
                        opcionesNatural.forEach(opcion => {
                            const optionElement = document.createElement("option");
                            optionElement.value = opcion.value;
                            optionElement.textContent = opcion.text;
                            tipnitField.appendChild(optionElement);
                        });
                    } else if (tipoPersona === "1") { 
                        const optionElement = document.createElement("option");
                        optionElement.value = "1";
                        optionElement.textContent = "NIT";
                        tipnitField.appendChild(optionElement);
                    }
                }

                tipperField.addEventListener("change", actualizarOpciones);
                establecerSeleccionarPorDefecto();
                actualizarOpciones();
            });

            // Función para seleccionar el texto del campo
            function selectText(element) {
                element.select();
            }

            // Alerta de errores
            document.addEventListener("DOMContentLoaded", function () {
                const modal = document.getElementById("alertModal");
                const closeButton = document.querySelector(".close-button");
                const form = document.querySelector("form");
                const errorList = document.getElementById("errorList");
                const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
                // Cerrar el modal al hacer clic en el botón de cerrar
                closeButton.addEventListener("click", function () {
                    modal.style.display = "none";
                });
            
                // Cerrar el modal al hacer clic fuera de él
                window.addEventListener("click", function (event) {
                    if (event.target === modal) {
                        modal.style.display = "none";
                    }
                });
            
                // Interceptar el envío del formulario
                form.addEventListener("submit", function (event) {
                    event.preventDefault();
                    const formData = new FormData(form);
            
                    // Enviar los datos al servidor mediante fetch
                    fetch(form.action, {
                        method: "POST",
                        body: formData,
                        headers: {
                            "X-Requested-With": "XMLHttpRequest",
                            "X-CSRFToken": csrfToken,
                        },
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            if (data.success) {
                                location.reload();
                            } else if (data.errors) {
                                errorList.innerHTML = "";
                                Object.entries(data.errors).forEach(([field, messages]) => {
                                    const li = document.createElement("li");
                                    li.style.marginBottom = "10px";
            
                                    const fieldLabel = document.createElement("strong");
                                    fieldLabel.textContent = `${form.elements[field]?.labels[0]?.textContent || field}:`;
                                    fieldLabel.style.color = "darkred";
                                    li.appendChild(fieldLabel);
            
                                    const errorDiv = document.createElement("div");
                                    errorDiv.style.color = "red";
                                    errorDiv.style.marginTop = "5px";
                                    errorDiv.style.marginLeft = "10px";
                                    messages.forEach((message) => {
                                        const errorText = document.createElement("p");
                                        errorText.textContent = message;
                                        errorDiv.appendChild(errorText);
                                    });
                                    li.appendChild(errorDiv);
            
                                    errorList.appendChild(li);
                                });
                                modal.style.display = "block";
                            }
                        })
                        .catch((error) => {
                            console.error("Error al procesar la solicitud:", error);
                            alert("Hubo un error al enviar los datos. Por favor, intenta nuevamente.");
                        });
                });
            });
            
            // Función para cargar el último registro
            document.getElementById('loadLast').addEventListener('click', function () {
                fetch("{% url 'registro_terceros' %}?action=get_last", {
                    method: 'GET',
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            const fields = [
                                { id: 'id_codter', value: data.codter },
                                { id: 'id_nomter', value: data.nomter },
                                { id: 'id_papter', value: data.papter },
                                { id: 'id_sapter', value: data.sapter },
                                { id: 'id_nomcter', value: data.nomcter },
                                { id: 'id_nitter', value: data.nitter },
                                { id: 'id_contacto', value: data.contacto },
                                { id: 'id_cgo_contac', value: data.cgo_contac },
                                { id: 'id_barrio', value: data.barrio },
                                { id: 'id_lista_base', value: data.lista_base },
                                { id: 'id_paister', value: data.paister },
                                { id: 'id_ciuter', value: data.ciuter },
                                { id: 'id_dirter', value: data.dirter },
                                { id: 'id_telter', value: data.telter },
                                { id: 'id_celter', value: data.celter },
                                { id: 'id_direle', value: data.direle },
                                { id: 'id_localidad', value: data.localidad },
                                { id: 'id_plazofac', value: data.plazofac },
                                { id: 'id_vendedor', value: data.vendedor },
                                { id: 'id_cta_banco', value: data.cta_banco },
                                { id: 'id_cod_banco', value: data.cod_banco },
                                { id: 'id_categoria', value: data.categoria },
                                { id: 'id_des_origen', value: data.des_origen },
                                { id: 'id_cuptot', value: data.cuptot },
                                { id: 'id_saldocup', value: data.saldocup },
                                { id: 'id_descuento', value: data.descuento },
                                { id: 'id_zonater', value: data.zonater },
                                { id: 'id_fecha_ini', value: data.fecha_ini },
                                { id: 'id_base_ret_fte', value: data.base_ret_fte },
                                { id: 'id_retfuente', value: data.retfuente },
                                { id: 'id_base_ret_ica', value: data.base_ret_ica },
                                { id: 'id_retica', value: data.retica },
                                { id: 'id_base_ret_iva', value: data.base_ret_iva },
                                { id: 'id_retiva', value: data.retiva },
                                { id: 'id_fecha_fin', value: data.fecha_fin },
                                { id: 'id_observa', value: data.observa }
                            ];

                            fields.forEach(field => {
                                const element = document.getElementById(field.id);
                                if (element) {
                                    element.value = field.value || '';
                                }
                            });

                            const selectFields = [
                                { id: 'id_tipper', value: data.tipper, display: data.tipper_display },
                                { id: 'id_tipnit', value: data.tipnit, display: data.tipnit_display },
                                { id: 'id_tipter', value: data.tipter, display: data.tipter_display },
                                { id: 'id_regimen_sim', value: data.regimen_sim, display: data.regimen_sim_display },
                                { id: 'id_excen_iva', value: data.excen_iva, display: data.excen_iva_display },
                                { id: 'id_tipo_cta', value: data.tipo_cta, display: data.tipo_cta_display },
                                { id: 'id_ter_origen', value: data.ter_origen, display: data.ter_origen_display },

                            ];

                            selectFields.forEach(field => {
                                const selectElement = document.getElementById(field.id);
                                if (selectElement) {
                                    const optionExists = Array.from(selectElement.options).some(
                                        option => option.value === String(field.value)
                                    );

                                    if (!optionExists) {
                                        const newOption = new Option(field.display, field.value, true, true);
                                        selectElement.add(newOption);
                                    }

                                    selectElement.value = field.value;
                                }
                            });

                            document.getElementById('tercerosForm').elements.forEach(input => {
                                input.disabled = false;
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error al cargar el último registro:', error);
                    });
            });

            // Obtener elementos del DOM
            let modal = document.getElementById("miModal");
            let abrirModalBtn = document.getElementById("abrirModal");
            let cerrarModalBtn = document.getElementById("cerrarModal");
            let barraBusqueda = document.getElementById("barraBusqueda");
            let resultadoBusqueda = document.getElementById("resultadoBusqueda");

           // Abrir modal
            document.getElementById("abrirModal").addEventListener("click", function() {
                document.getElementById("miModal").style.display = "block";
            });
            
            // Cerrar modal
            document.getElementById("cerrarModal").addEventListener("click", function() {
                document.getElementById("miModal").style.display = "none";
            });
            
            // Búsqueda de datos al hacer clic en el botón de búsqueda
            document.getElementById("btnBuscar").addEventListener("click", function() {
                let query = document.getElementById("barraBusqueda").value;
            
                if (query.trim() !== "") {
                $.ajax({
                    url: "{% url 'lista_terceros' %}",
                    data: { 'query': query },
                    success: function(data) {
                    let resultados = data.resultados;
                    mostrarResultados(resultados);
                    },
                    error: function() {
                    alert("Hubo un error al realizar la búsqueda.");
                    }
                });
                } else {
                alert("Por favor ingrese un término de búsqueda.");
                }
            });
            
            // Mostrar los resultados de la búsqueda en la ventana modal
            function mostrarResultados(resultados) {
                let listaResultados = document.getElementById("resultadoBusqueda");
                listaResultados.innerHTML = "";
            
                if (resultados.length > 0) {
                resultados.forEach(function(tercero) {
                    let li = document.createElement("li");
                    li.textContent = `${tercero.codter} - ${tercero.nomter}`;
                    listaResultados.appendChild(li);
                });
                } else {
                listaResultados.innerHTML = "<li>No se encontraron resultados. ☠️</li>";
                }
            }
            $(document).ready(function() {
        $('#barraBusqueda').on('input', function() {
            let query = $(this).val();
            if (query.length > 0) {
                $.ajax({
                    url: '{% url "lista_terceros" %}', 
                    data: {
                        'query': query
                    },
                    dataType: 'json',
                    success: function(response) {
                        let resultados = response.resultados;
                        let html = '';
                        if (resultados.length > 0) {
                            resultados.forEach(function(tercero) {
                                html += `
                                    <tr>
                                        <td>${tercero.codter}</td>
                                        <td>${tercero.nitter}</td>
                                        <td>${tercero.nomter || '/////////////////////'}</td>
                                        <td>${tercero.papter || '//////////////////'}</td>
                                        <td>${tercero.nomcter || '/////////////////////////////////////'}</td>
                                        <td><a href="/editar_tercero/${tercero.codter}" class="btn-editar">Editar</a></td>
                                    </tr>
                                `;
                            });
                        } else {
                            html = '<tr><td colspan="5">No se encontraron resultados.</td></tr>';
                        }

                        $('#resultadoBusqueda tbody').html(html);
                    }
                });
            } else {
                $('#resultadoBusqueda tbody').html('');
            }
        }); 

        $('#cerrarModal').on('click', function() {
            $('#barraBusqueda').val('');
            $('#resultadoBusqueda tbody').html('');
        });

        // Cerrar el modal si el usuario hace clic fuera del contenido
        $(window).on('click', function(event) {
            if (event.target == document.getElementById("miModal")) {
                $('#miModal').hide();
            }
        });

        // Accionar el botón de editar
        $(document).on('click', '.btn-editar', function() {
            let codter = $(this).data('id');
        });
    });
            // Función seleccionar el texto del campo
            function selectText(element) {
                element.select();
            }


        </script>
</body>
</html>
