<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="website icon" type="icon" href="{% static 'images/Logo_Pacos.jpg' %}"> 


</head>
<body>
    <div class="login-container">
        <div class="logo-section">
            <img src="{% static 'images/Logo_Pacos.jpg' %}" alt="Logo Pacos">
        </div>
        <div class="login-box"> 
            <h1>Iniciar Sesión</h1>
            <form method="post" onsubmit="load()">
                {% csrf_token %}
                <div>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div>
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                {% if form.non_field_errors %}
                    <div class="error-messages">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <button type="submit" class="btn-login">INGRESAR</button>
            </form>
        </div>
    </div>

    <script>
        function load() {
            const loginBtn = document.querySelector(".btn-login");
            loginBtn.textContent = "INGRESANDO AL MENÚ..."
        }
    </script>
</body>
</html>

