<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="website icon" type="icon" href="{% static 'images/admin.png' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>Registro de Usuario</h1>
            {% if messages %}
                <div id="message-container">
                    {% for message in messages %}
                        <div class="alert 
                            {% if message.tags == 'success' %}alert-success
                            {% elif message.tags == 'warning' %}alert-warning
                            {% else %}alert-error{% endif %}">
                            {{ message }}
                            <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" id="register-form" onsubmit="disableSubmit()">

                {% csrf_token %}
                {{ form.as_p }}

                <div class="button-container">
                    <button type="submit" class="save-btn">Registrar Usuario</button>
                    <button type="button" id="clear-form" class="btn-clear">Limpiar Campos</button>
                    <a href="{% url 'login' %}"><button class="login-btn" type="button">
                        <span class="text">Login</span>
                        <span class="icon" aria-hidden="true">
                        <img src="{% static 'images/avatar.png' %}" alt="Login">
                        </span>
                </button></a> 
                </div> 
            </form>
                
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let alerts = document.querySelectorAll(".alert");

            alerts.forEach(function(alert) {
                let hideTimeout;

                function startHide() {
                    hideTimeout = setTimeout(() => {
                        alert.style.opacity = "0";
                        alert.style.transform = "translateY(-20px)";
                        setTimeout(() => {alert.style.display = "none";}, 500);
                    }, 5000);
                }
                startHide();
                alert.addEventListener("mouseenter", function () {
                    clearTimeout(hideTimeout);
                    alert.style.opacity = "1";
                });
                alert.addEventListener("mouseleave", function () {
                    startHide();
                });
                let closeBtn = alert.querySelector(".close-btn");
                closeBtn.addEventListener("click", function () {
                    alert.style.opacity = "0";
                    alert.style.transform = "translateX(-20px)";
                    setTimeout(() => {alert.style.display = "none";}, 500);
                });
            });
            // Función para limpiar
            document.getElementById("clear-form").addEventListener("click", function() {
                document.getElementById("register-form").reset();
            });
        });

        // Función para evitar que se reenvie el formulario
        function disableSubmit() {
            const submitBtn = document.querySelector(".save-btn");
            submitBtn.disabled = true;
            submitBtn.textContent = "Registrando...";
        }
    </script>
</body>
</html>
